<div style="margin-left: 30px; width: 240px; height: 180px; border: 1px solid #000; background-color:antiquewhite; margin-top: 10px; border-radius: 7px;"></div>
<div style="margin-left: 30px; width: 240px; height: 180px; border: 1px solid #000; background-color:antiquewhite; margin-top: 10px; border-radius: 7px;"></div>
<div style="margin-left: 30px; width: 240px; height: 180px; border: 1px solid #000; background-color:antiquewhite; margin-top: 10px; border-radius: 7px;"></div>
<div style="margin-left: 30px; width: 240px; height: 180px; border: 1px solid #000; background-color:antiquewhite; margin-top: 10px; border-radius: 7px;"></div>
<div style="margin-left: 30px; width: 240px; height: 180px; border: 1px solid #000; background-color:antiquewhite; margin-top: 10px; border-radius: 7px;"></div>