@using Booking.Web.Helpers

<div style="width: 770px; height: inherit;">
    <div class="">
        <p>Rejser!</p>
        <h1>Tilbuds Rejser</h1>
    </div>
    @{
        if (ViewBag.proxyError == "")
        {
            try
            {
                //var client = ServiceHelper.GetServiceClientWithCredentials();
                var client = ViewBag.proxy;
                var dest = client.GetAllDestinations();

                foreach (var s in dest)
                {
                    <div class="Boxed floatLeft">
                        <h1>@s.NameDestination</h1>
                        <h3>Fra Aalborg</h3>
                        <h3>Fra/enkeltbillet</h3>
                    </div>
                }
            }
            catch (Exception ex)
            {
                <p>Der er sket en fejl!</p>
            }
        }
        else
        {
            <p>Kunne ikke forbinde til backenden!</p>
        }
    }

    @if (AuthHelper.IsLoggedIn())
    {
        <h1>Welcome to the secure area!</h1>

        if (AuthHelper.IsAdmin())
        {
            <p>Admin wee</p>
        }
        else
        {
            <p>Customer only</p>
        }
    }
    else
    {
        <p> You dont seem to be logged in, i cannot give you anything!! </p>
    }
</div>



