    <div class="">
        <div class="">Rejser!
        
        <h1 style="font-family:Calibri;">Tilbuds Rejser</h1>
        </div>
        <div class="Boxed">                               
            <h1 style="color:white;"> New York</h1>
            <h3 style="color:white;">Fra Aalborg</h3>
            <h3 style="color:white;">Fra/enkeltbillet</h3>
        </div>

        <div class="Boxed1">
            <h1 style="color:white;" > New York</h1>
            <h3 style="color:white;" >Fra Aalborg</h3>
            <h3 style="color:white;" >Fra/enkeltbillet</h3>
        </div>






</div>



