    <div class="">
        <div class="">Rejser!
        
                     <h1>Tilbuds Rejser</h1>
        </div>
        <div class="Boxed">                               
            <h1> New York</h1>
            <h3>Fra Aalborg</h3>
            <h3>Fra/enkeltbillet</h3>
        </div>

        <div class="Boxed1">
            <h1> New York</h1>
            <h3>Fra Aalborg</h3>
            <h3>Fra/enkeltbillet</h3>
        </div>






</div>



