<div>
   



    <div class="">
        <div class="">Rejser!
        
                     <h1>Tilbuds Rejser</h1>
        </div>
        <div class="Boxed"> Fedeste Tilbud lige pt
        
            <div><a href="http://localhost:55064/Home/Plane">Balkan : </a> tekst</div>
            <div><a href="http://localhost:55064/Home/Plane">El Balkano: </a>mere tekst </div>
            <div><a href="http://localhost:55064/Home/Plane">ALL WHITE BALKAN BABY: </a> utrolig meget tekst</div>
        
        </div>


    </div>

        <div class="TilbudsId">
            <ul id="TilbudUnListed">

                <li><a href="http://localhost:55064/Home/Plane">Skaf dine Rejser her: </a></li>
                <li><a href="http://localhost:55064/Home/Plane">Skaf dine Rejser her: </a></li>
                <li><a href="http://localhost:55064/Home/Plane">Skaf dine Rejser her: </a></li>
                <li><a href="http://localhost:55064/Home/Plane">Skaf dine Rejser her: </a></li>
                <li><a href="http://localhost:55064/Home/Plane">Skaf dine Rejser her: </a></li>
                <li><a href="http://localhost:55064/Home/Plane">Skaf dine Rejser her: </a></li>
                <li><a href="http://localhost:55064/Home/Plane">Skaf dine Rejser her: </a></li>
                    
            </ul>
            
        </div>






</div>



