#TilbudUnListed {
    border: 100px solid green;
    background-color: blue;
}
.Boxed {
    display: block;
    width: 250px;
    height: 250px;
    background-color: green;
    border: 1px solid green;
}