<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuth">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:6969/SecureAuthService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuth"
                contract="BookingAuthRemote.IAuth" name="WSHttpBinding_IAuth" />
            <endpoint address="https://localhost:6868/SecureService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService" contract="BookingServiceRemote.IService"
                name="WSHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>