@model Booking.Web.Models.BookingViewModel

<div class="booking_partial someShadow">
    <div class="badget">6</div>
    <h2>Make Booking</h2>
   
    <input type="submit" value="Save" class="ny" onclick="alert('Booking COMPLETET almost! :('); e.preventDefault(); "/>
</div>