@model Booking.Web.Models.BookingViewModel
@using System.Globalization
@if ((Model.OneWayDate != "" && Model.OneWay) || (!Model.OneWay && Model.OneWayDate != "" && Model.ReturnDate != ""))
{
    DateTime returnDate;
    DateTime onewayDate;
    <div class="booking_partial someShadow">
        <div class="badget">4</div>

        @if (Model.Departures.Count() > 0)
        {
            <h2>Departures</h2>
            if (DateTime.TryParseExact(Model.OneWayDate, "MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture, DateTimeStyles.None, out onewayDate))
            {
                //for(int i = Model.Departures.Count()-1; i == 0; i--)
                //{
                Model.Departures = Model.Departures.Where(r => r.When.Date == onewayDate.Date);

                @Html.Label("Departure:", new { @class = "ny" });
                @Html.DropDownListFor(x => x.Departure, new SelectList(Model.Departures, "Id", "When"), new { @class = "ny" })

            }

            if (Model.Returns.Count() > 0 && Model.ReturnDate != "")
            {
                if (DateTime.TryParseExact(Model.ReturnDate, "MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture, DateTimeStyles.None, out returnDate))
                {

                    Model.Returns = Model.Returns.Where(r => r.When.Date == returnDate.Date);

                    @Html.Label("Return:", new { @class = "ny" });
                    @Html.DropDownListFor(x => x.DepartureReturn, new SelectList(Model.Returns, "Id", "When"), new { @class = "ny" })
                }
            }
        }
        else
        {
            <h2>Beklager, men vi har ingen afgange!</h2>
        }

        <script>
            $(document).ready(function () {
                $("#DepartureReturn, #Departure").change(function () {
                    $(this).closest("form").submit();
                });
            });
        </script>
    </div>
}