@using Booking.Web.Helpers;
@{
    ViewBag.Title = "Index";
}


<h5 color="black"> @ViewBag.Title</h5>

    Start Destination:<br />
    <input type="text" name="Start Destination" value="Aalborg" readonly><br>
    End Destination <br />

    <select>
        @{
            try
            {
                var client = ViewBag.proxy;
                var dest = client.GetAllDestinations();

                foreach (var d in dest)
                {
                    <option value="@Request.Form["EndDestinaon"]">@d.NameDestination</option>
                }
            }
            catch (Exception)
            {
            }
        }
    </select>


<form method="get" action="/Afgange/SearchResult">
    <button type="submit">Search</button>
</form>







