
@{
    ViewBag.Title = "SearchResult";
}

<h1>SearchResult</h1>




@{
    try
    {
        var client = ViewBag.proxy;

        var d = "";

        client.GetDeparture(d.AsInt());

        @Request.Form["EndDestinaon"]



    }

    catch (Exception)
    {
           <p>NAH NIGGA NAH</p>
    }
    
}








@*@{
    try
    {
        var client = ViewBag.proxy;
        var EndDestination = "";



        if (IsPost)
        {

            EndDestination = Request.Form["EndDestination"];



            client.GetDeparture(EndDestination);

        }
    }

    catch(Exception)
    {
       <p>NAH NIGGA NAH</p>
    }
}*@



}

