@model Booking.Web.Models.BookingViewModel

@{
    ViewBag.Title = "Vælge Fra / Til";
}
<div id="Page_Afgange">
    @Html.Partial("Destinations", Model)
    <br />
    @Html.Partial("DepartureDate", Model)
    <br />
    @Html.Partial("Departures", Model)
    <br />
    @Html.Partial("Passengers", Model)
</div>