
@{
    ViewBag.Title = "Plane";
}


  <h2>@ViewBag.Title.</h2>

@{
    try
    {
        var client = ViewBag.proxy;
        var dest = client.GetAllDestinations();

        foreach (var s in dest)
        {
          @s.NameDestination 
        }
    }
    catch (Exception)
    {
        <p>Der er sket en fejl!</p>
    }

}





