<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=kraka.ucn.dk;Database=dmaa0916_128844;User Id=dmaa0916_128844;Password=Password1!;Integrated Security=false;" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
</configuration>