* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f1f1f1;
}

.link {
    color: #c41734;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #d0adb5;
}

h1, h2, h3, h4 {
    font-family: Calibri;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.homePoster {
    background-color: #222;
    width: 100%;
    height: 300px;
    background-image: url('/Public/poster.jpg');
    background-size: cover;
}

#topMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 54px;
    width: 100%;
    background-color: #fff;
}

    #topMenu ul {
        margin-left: 15px;
        margin-right: 15px;
        list-style-type: none;
    }

    #topMenu li {
        float: left;
        height: 28px;
        margin-left: 4px;
        padding: 17px;
        color: #fff;
        font-family: Calibri;
        font-size: 14px;
        font-weight: lighter;
        text-align: justify;
        word-wrap: break-word;
        border-radius: 5px 5px 5px 5px;
    }

        #topMenu li a {
            text-decoration: none;
            color: #2b2929;
        }

            #topMenu li a:hover {
                text-decoration: none;
                color: red;
            }

footer p {
    text-align: center;
    margin: 0 auto;
}

#MenuLogo {
    background-color: #d81939;
    height: 54px;
    float: right;
}

    #MenuLogo img {
        height: 54px;
    }

/* Set padding to keep content from hitting the edges */
.lePage {
    padding-top: 54px;
    margin: 0 auto;
}

#Page_NewUser {
    margin: 0 auto;
    width: 470px;
}

#Page_NewUser form {
    display: grid;
    grid-template-columns: 200px 1fr;
}

#Page_NewUser lable {
    grid-column: 1 / 2;
}

#Page_NewUser input, #Page_NewUser button, #Page_NewUser select {
        grid-column: 2 / 3;
        margin-top: 2px;
        padding: 4px 10px 4px 10px;
}

    #Page_NewUser label {
        margin-top: 2px;
        padding: 4px 10px 4px 10px;
    }


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
